{
    "extends": [
      "prettier",
      "prettier/react",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended"
    ],
    "settings": {
      "import/extensions": [".js", ".jsx", ".ts", ".tsx", ".mjs"]
    },
    "rules": {
//      "react/jsx-no-undef": 1,
    },
    "plugins": [
      "prettier"
    ]
  }